.js-navigation.active {
  top: 0px;
  opacity: 1;
  transition: top 0.3s, opacity 0.6s linear;
}

#header.active {
  background-color: rgba(255, 255, 255, 0.99);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  .navbar {
    padding: 0px 15px;
  }
  .inf-contact {
    @media #{$sm} {
      height: 0;
      overflow: hidden;
    }
  }
}
#header.up {
  top: -200px !important;
}

#header {
  transition: top 0.6s linear;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0px;
}

.navbar {
  transition: all 0.3s linear;
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  @media #{$sm} {
    padding: 10px 0 55px 0;
  }
}

.nav-brand {
  flex: auto;
  // @media #{$sm} {
  //   order: 1;
  // }
}

.header-nav {
  // display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  opacity: 0;
  background-color: #fff;
  ul {
    text-align: center;
    padding: 0;
    padding-top: 150px;
    height: 100%;
    overflow-y: auto;
    list-style: none;
    text-align: center;
    @media #{$sm} {
      padding-top: 200px;
    }
    li.liVisible {
      opacity: 1;
      transform: translate(0, 0px);
      transition: all 0.3s, opacity 1s linear;
    }
    li {
      opacity: 0;
      transform: translate(0, -20px);
      a {
        display: inline-block;
        font-family: "Roboto Slab", serif;
        font-weight: 400;
        text-decoration: none;
        font-size: 21px;
        padding: 20px 20px;
        color: $black;
        @media #{$sm} {
          font-size: 28px;
          padding: 10px;
        }
        &:hover {
          color: $main;
        }
      }
    }
  }
}
.navbar__toggler {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateY(-2px);
  margin-left: 30px;
  @media #{$lg} {
    display: flex;
  }
  cursor: pointer;
  > span {
    font-size: 21px;
    transform: translateY(1px);
  }
  .navbar__toggler__btn {
    span {
      display: block;
      width: 44px;
      height: 3px;
      border-radius: 100px !important;
      background-color: $main;
      transition: all 0.1s linear;
      &:nth-child(1) {
        width: 34px;
      }
      &:nth-child(2) {
        transform: translateY(4px);
      }
      &:nth-child(3) {
        transform: translate(10px, 8px);
        width: 34px;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        display: block;
        width: 44px !important;
        &:nth-child(3) {
          transform: translate(0px, 8px);
        }
      }
    }
  }
}

.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      // transform-origin: 50% 0;
      width: 44px !important;
      &:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        transform-origin: 50% 0;
      }
      &:nth-child(2) {
        // width: 0px;
        opacity: 0;
        width: 0px !important;
      }
      &:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
        width: 44px;
        transform-origin: 30% 0;
      }
    }
  }
}
.inf-contact {
  transition: all 0.3s linear;
  @media #{$sm} {
    display: none;
    width: 100%;
    margin-bottom: 20px;
    order: 1;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media #{$sm} {
      flex-wrap: nowrap;
      justify-content: flex-end;
    }
    li {
      margin: 0 10px;
      @media #{$sm} {
        margin: 5px;
      }
      &:first-child {
        @media #{$lg} {
          display: none;
        }
      }
      a {
        min-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 35px;
        // border: 1px solid #525252;
        border: 1px solid $gray;
        border-radius: 100px;
        text-decoration: none;
        color: $black;
        font-size: 18px;
        font-weight: 900;
        transition: all 0.3s linear;

        @media #{$md} {
          font-size: 21px !important;
          min-width: initial;
        }
        @media #{$sm} {
          min-width: 50%;
          padding: 10px 15px;
          font-size: 12px;
        }
        span {
          margin-left: 10px;
        }
        &:hover {
          background-color: $main;
          border: 1px solid $main;
          transition: all 0.3s linear;
          color: #fff;
          path {
            fill: #fff;
            transition: all 0.3s linear;
          }
        }
      }
    }
  }
}
