a {
  color: $main;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: $black;
}
.h1 {
  font-size: 38px;
}
.h2 {
  font-size: 1.5em;
}
.h3 {
  font-size: 1.17em;
}
.h4 {
  font-size: 1em;
}
.h5 {
  font-size: 0.83em;
}
.h6 {
  font-size: 0.67em;
}
p,
li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $p;

  @media #{$sm} {
    font-size: 16px;
  }
}
a {
  transition: all 0.3s linear;
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: $main; /* Safari */
  text-decoration-color: $main;
}

.c-main {
  color: $main !important;
}
.error404 {
  h1 {
    font-size: 100px !important;
    margin: 20px 0;
    text-align: center;
  }
  .btn {
    text-align: center;
    margin: 0 auto;
  }
}

#error {
  padding: 0 0 50px 0;
}

.g-title {
  .g-title__title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #fff !important;
  }
}
.g-title--small {
  .g-title__title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 36px;
    @media #{$sm} {
      font-size: 21px;
    }
  }
}
.g-title--big {
  .g-title__title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 72px;
    @media #{$sm} {
      font-size: 31px;
    }
  }
}
.g-title--middle {
  .g-title__title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 55px;

    @media #{$xlg} {
      font-size: 38px;
    }
    @media #{$lg} {
      font-size: 34px;
    }
    @media #{$md} {
      font-size: 31px;
    }
    @media #{$sm} {
      font-size: 28px;
    }
  }
}

.title-page-wraper {
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  @media #{$sm} {
    margin-bottom: 30px;
  }
  .title-page {
    font-size: 51px;
    font-weight: 700;
    margin-bottom: 0px;
    @media #{$sm} {
      font-size: 31px;
    }
  }
  .sep {
    height: 50px;
  }
  p {
    max-width: 768px;
    margin: 0 auto;
    color: $p;
    margin-top: 30px;
    line-height: 26px;
    font-size: 16px;
  }
  .brand-svg {
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.062;
  }
}

.h4 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 21px;
  margin: 0 0 30px 0;
}

.float-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  @media #{$md} {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
    height: auto;
  }
}
