// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1200px)";
$xlg: "only screen and (max-width: 1400px)";

$main: #f39200;
$light: #eaf2f7;
$gray: #d1d1d4;
$p: #797070;

$black: #000000;
