.faq {
  .accordion {
    margin-bottom: 24px;
    border-radius: 10px;
    .question {
      font-size: 16px;
      border-radius: 10px;
      position: relative;
      background-color: $light;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      margin-bottom: 0px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: $light;
      }
      &:focus {
        background-color: $light;
      }
      @media #{$sm} {
        font-size: 16px;
        line-height: 26px;
      }
      span {
        width: calc(100% - 24px);
        padding: 24px;
      }
      svg {
        position: absolute;
        right: 15px;
        width: 16px;
        pointer-events: none;
      }
    }
    .answer {
      border-radius: 10px;
      height: 0;
      overflow: hidden;
      .wrap-video {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        iframe {
          border: 0;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }
  .accordion.active {
    // background-color: $light;
    border: 1px solid $main;
    .question {
      //   border-bottom: 1px solid $main;
      svg {
        transform: rotate(180deg);
      }
    }
    .answer {
      height: auto;
      padding: 0 24px 24px;
    }
  }
}
