#offers {
  margin-bottom: 50px;
  @media #{$sm} {
    margin-bottom: 0;
  }
}
.offers__wraper {
  display: flex;
  flex-wrap: wrap;
}
.offers__wraper__item {
  width: 33.333%;
  padding: 15px;
  @media #{$md} {
    width: 50%;
  }
  @media #{$xs} {
    width: 100%;
  }
}
.offers__item {
  padding: 15px;
  background-color: $light;
  border-radius: 10px;
  height: 100%;
  transition: all 0.8s;
  h2 {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
    a {
      color: $black;
      transition: all 0.5s;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 50px;
      height: 1px;
      background-color: $main;
      transition: all 0.5s;
    }
  }
  p {
    font-size: 14px;
    line-height: 18px;
    color: $p;
    margin-bottom: 0;
    padding-bottom: 0px;
    transition: all 0.5s;
  }
}

.offers__item:hover {
  background-color: $main;
  transition: all 0.8s;
  h2::after {
    background-color: #fff;
    transition: all 0.5s;
  }
  h2,
  a,
  p {
    color: #fff;
    transition: all 0.5s;
  }
}
