a {
  color: #f39200;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: #000000;
}

.h1 {
  font-size: 38px;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.17em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.83em;
}

.h6 {
  font-size: 0.67em;
}

p,
li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #797070;
}

@media only screen and (max-width: 768px) {
  p,
  li {
    font-size: 16px;
  }
}

a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #f39200;
  /* Safari */
  text-decoration-color: #f39200;
}

.c-main {
  color: #f39200 !important;
}

.error404 h1 {
  font-size: 100px !important;
  margin: 20px 0;
  text-align: center;
}

.error404 .btn {
  text-align: center;
  margin: 0 auto;
}

#error {
  padding: 0 0 50px 0;
}

.g-title .g-title__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  color: #fff !important;
}

.g-title--small .g-title__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

@media only screen and (max-width: 768px) {
  .g-title--small .g-title__title {
    font-size: 21px;
  }
}

.g-title--big .g-title__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 72px;
}

@media only screen and (max-width: 768px) {
  .g-title--big .g-title__title {
    font-size: 31px;
  }
}

.g-title--middle .g-title__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 55px;
}

@media only screen and (max-width: 1400px) {
  .g-title--middle .g-title__title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 1200px) {
  .g-title--middle .g-title__title {
    font-size: 34px;
  }
}

@media only screen and (max-width: 998px) {
  .g-title--middle .g-title__title {
    font-size: 31px;
  }
}

@media only screen and (max-width: 768px) {
  .g-title--middle .g-title__title {
    font-size: 28px;
  }
}

.title-page-wraper {
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .title-page-wraper {
    margin-bottom: 30px;
  }
}

.title-page-wraper .title-page {
  font-size: 51px;
  font-weight: 700;
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  .title-page-wraper .title-page {
    font-size: 31px;
  }
}

.title-page-wraper .sep {
  height: 50px;
}

.title-page-wraper p {
  max-width: 768px;
  margin: 0 auto;
  color: #797070;
  margin-top: 30px;
  line-height: 26px;
  font-size: 16px;
}

.title-page-wraper .brand-svg {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.062;
}

.h4 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 21px;
  margin: 0 0 30px 0;
}

.float-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .float-left {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.container {
  max-width: 1630px;
  width: 95%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.container-entry {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container-entry {
    width: 100%;
  }
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container-full {
    width: 100%;
  }
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 998px) {
  .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .display-sm-none {
    display: none;
  }
}

.display-sm-block {
  display: none;
}

@media only screen and (max-width: 768px) {
  .display-sm-block {
    display: block;
  }
}

.lower_shortcut_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lower_shortcut_container .lower_shortcut {
  padding: 3px 8px;
  background-color: #eaf2f7;
  font-size: 12px;
}

#footer {
  background-color: #111112;
  width: 100%;
}

.full_inf {
  padding: 20px 0;
}

@media only screen and (max-width: 768px) {
  .full_inf {
    padding: 20px 0 0;
  }
}

.full_inf .full_inf--wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .full_inf .full_inf--wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.full_inf .full_inf--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 50px;
  border-right: 1px solid #d1d1d4;
}

@media only screen and (max-width: 1400px) {
  .full_inf .full_inf--item {
    padding: 20px;
  }
}

@media only screen and (max-width: 998px) {
  .full_inf .full_inf--item {
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .full_inf .full_inf--item {
    border: none;
    border-bottom: 1px solid #d1d1d4;
    padding: 15px;
  }
}

@media only screen and (max-width: 460px) {
  .full_inf .full_inf--item {
    width: 100%;
  }
}

.full_inf .full_inf--item:last-child {
  border: none;
}

.full_inf .full_inf--item .icon {
  margin-right: 20px;
}

.full_inf .full_inf--item .h4 {
  font-weight: 700;
  font-size: 28px;
  color: #000000;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1400px) {
  .full_inf .full_inf--item .h4 {
    font-size: 21px;
  }
}

@media only screen and (max-width: 768px) {
  .full_inf .full_inf--item .h4 {
    font-size: 21px;
  }
}

.full_inf .full_inf--item p {
  font-size: 16px;
  line-height: 26px;
  color: #797070;
}

.full_inf .full_inf--item a {
  color: #797070;
}

.full_inf .full_inf--item a:hover {
  color: #f39200;
}

.footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__w__contact {
  width: 33%;
}

@media only screen and (max-width: 1200px) {
  .footer__w__contact {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .footer__w__contact {
    width: 100%;
    margin: 0 auto;
  }
}

.footer__w__contact--wraper {
  margin-top: -130px;
  position: relative;
  z-index: 2;
  padding: 50px 15px 50px 0;
}

@media only screen and (max-width: 998px) {
  .footer__w__contact--wraper {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .footer__w__contact--wraper {
    padding: 30px;
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__w__contact--wraper:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: #f5a500;
  background: linear-gradient(98deg, #f5a500 0%, #ef7b00 100%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 200%;
  height: 100%;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .footer__w__contact--wraper:before {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }
}

.footer__w__contact--wraper .g-buttons {
  margin-top: 35px;
}

.footer__w__contact--wraper .g-buttons ul {
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .footer__w__contact--wraper .g-buttons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__w__contact--wraper .g-buttons ul li a {
  color: #fff;
  min-width: auto;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 998px) {
  .footer__w__contact--wraper .g-buttons ul li a {
    margin: 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .footer__w__contact--wraper .g-buttons ul li a {
    font-size: 14px;
    margin: 10px 0;
  }
  .footer__w__contact--wraper .g-buttons ul li a svg {
    display: none;
  }
}

.footer__w__contact--wraper .g-buttons ul li a span {
  margin-left: 10px;
}

.footer__w__contact--wraper .g-buttons ul li a path {
  fill: #fff;
}

.footer__info {
  padding: 15px 0;
}

.footer__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  padding: 0;
  list-style: none;
}

.footer__info ul li p {
  font-size: 14px;
  color: #fff;
}

.footer__w__menus {
  padding: 50px;
  width: 67%;
}

@media only screen and (max-width: 1200px) {
  .footer__w__menus {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .footer__w__menus {
    padding: 30px 0;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer__w__menus__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__w__menus--item {
  padding: 15px;
  width: 25%;
}

@media only screen and (max-width: 1200px) {
  .footer__w__menus--item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .footer__w__menus--item {
    width: 25%;
  }
}

@media only screen and (max-width: 460px) {
  .footer__w__menus--item {
    width: 50%;
  }
}

.footer__w__menus--item .h4 {
  color: #fff !important;
}

.footer__w__menus--item span.h4 {
  display: block;
  min-height: 28px;
}

.footer__w__menus--item ul {
  padding: 0;
  list-style: none;
}

.footer__w__menus--item ul li a {
  color: #cccccc;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 5px 0;
}

.footer__w__menus--item ul li a:hover {
  color: #f39200;
}

.sticky-social-media {
  position: fixed;
  bottom: -150px;
  z-index: 99;
  right: 70px;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.sticky-social-media ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.sticky-social-media ul li span {
  display: block;
  color: #000000;
  font-size: 12px;
}

.sticky-social-media ul li a {
  padding: 10px;
  display: inline-block;
}

.sticky-social-media ul li a:hover path {
  fill: #f39200;
}

.sticky-social-media.active {
  bottom: 0px;
}

#go-to-top.active {
  bottom: 26px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#go-to-top {
  position: fixed;
  cursor: pointer;
  z-index: 9;
  width: 22px;
  height: 14px;
  bottom: -100px;
  right: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#go-to-top svg path {
  fill: #f39200;
}

.js-navigation.active {
  top: 0px;
  right: 0px;
  opacity: 1;
  -webkit-transition: right 0.5s linear, opacity 0.6s linear;
  transition: right 0.5s linear, opacity 0.6s linear;
}

#main,
#footer {
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

#header.active {
  background-color: rgba(255, 255, 255, 0.99);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

#header.active .navbar {
  padding: 0px 15px;
}

@media only screen and (max-width: 768px) {
  #header.active .inf-contact {
    height: 0;
    overflow: hidden;
  }
}

#header.up {
  top: -200px !important;
}

#header {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0px;
}

.navbar {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
}

.nav-brand {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media only screen and (max-width: 768px) {
  .nav-brand {
    max-width: 50%;
  }
  .nav-brand svg {
    width: 100%;
  }
}

.header-nav {
  -webkit-transition: right 0.5s linear, opacity 0.6s linear;
  transition: right 0.5s linear, opacity 0.6s linear;
  position: fixed;
  z-index: 99;
  width: 300px;
  max-width: 100%;
  height: 100vh;
  top: 0;
  right: -400px;
  opacity: 0;
  background-color: #eaf2f7;
  padding-right: 50px;
}

.header-nav ul {
  text-align: right !important;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  overflow-y: auto;
  list-style: none;
  text-align: center;
  overflow: auto;
  height: 100vh;
}

.header-nav ul li.liVisible {
  opacity: 1;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  -webkit-transition: all 0.3s, opacity 1s linear;
  transition: all 0.3s, opacity 1s linear;
}

.header-nav ul li {
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.header-nav ul li a {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 28px;
  padding: 10px 20px;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .header-nav ul li a {
    font-size: 28px;
    padding: 10px;
  }
}

.header-nav ul li a:hover {
  color: #f39200;
}

.navbar__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-left: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .navbar__toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar__toggler > span {
  font-size: 21px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navbar__toggler .navbar__toggler__btn span {
  display: block;
  width: 44px;
  height: 3px;
  border-radius: 100px !important;
  background-color: #f39200;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.navbar__toggler .navbar__toggler__btn span:nth-child(1) {
  width: 34px;
}

.navbar__toggler .navbar__toggler__btn span:nth-child(2) {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.navbar__toggler .navbar__toggler__btn span:nth-child(3) {
  -webkit-transform: translate(10px, 8px);
          transform: translate(10px, 8px);
  width: 34px;
}

.navbar__toggler:hover .navbar__toggler__btn span {
  display: block;
  width: 44px !important;
}

.navbar__toggler:hover .navbar__toggler__btn span:nth-child(3) {
  -webkit-transform: translate(0px, 8px);
          transform: translate(0px, 8px);
}

.navbar__toggler.active .navbar__toggler__btn span {
  width: 44px !important;
}

.navbar__toggler.active .navbar__toggler__btn span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

.navbar__toggler.active .navbar__toggler__btn span:nth-child(2) {
  opacity: 0;
  width: 0px !important;
}

.navbar__toggler.active .navbar__toggler__btn span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  width: 44px;
  -webkit-transform-origin: 30% 0;
          transform-origin: 30% 0;
}

.inf-contact {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 768px) {
  .inf-contact {
    display: none;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.inf-contact ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .inf-contact ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.inf-contact ul li {
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  .inf-contact ul li {
    margin: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .inf-contact ul li:first-child {
    display: none;
  }
}

.inf-contact ul li a {
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 35px;
  border: 1px solid #d1d1d4;
  border-radius: 100px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 998px) {
  .inf-contact ul li a {
    font-size: 21px !important;
    min-width: initial;
  }
}

@media only screen and (max-width: 768px) {
  .inf-contact ul li a {
    min-width: 50%;
    padding: 10px 15px;
    font-size: 12px;
  }
}

.inf-contact ul li a span {
  margin-left: 10px;
}

.inf-contact ul li a:hover {
  background-color: #f39200;
  border: 1px solid #f39200;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #fff;
}

.inf-contact ul li a:hover path {
  fill: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.entry-content--narrow {
  max-width: 998px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.entry-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.entry-wraper aside {
  width: 30%;
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  .entry-wraper aside {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: initial;
  }
}

.entry-wraper aside .banner {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.entry-wraper aside .menu {
  margin-bottom: 30px;
}

.entry-wraper aside .menu .h3 {
  margin-bottom: 20px;
}

.entry-wraper aside .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.entry-wraper aside .menu ul li a {
  font-size: 16px;
  color: #000000;
  display: block;
}

.entry-wraper aside .menu ul li a:hover {
  color: #f39200;
}

.entry-wraper aside .menu ul .current_page_item {
  background-image: url(../img/arrow-nav.webp);
  background-repeat: no-repeat;
  background-position: center left;
}

.entry-wraper aside .menu ul .current_page_item a {
  font-weight: bold;
  color: #f39200;
  padding-left: 30px;
}

.entry-wraper .content-wraper {
  width: 70%;
  border-left: 1px solid #eaf2f7;
  padding-left: 30px;
}

@media only screen and (max-width: 768px) {
  .entry-wraper .content-wraper {
    width: 100%;
    padding-left: inherit;
    border: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.entry-footer {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entry-footer .entry-footer__col {
  display: block;
  padding: 25px 0;
}

.entry-footer .kk-star-ratings,
.entry-footer .addtoany_shortcode {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 20px 35px;
  border: 1px solid #ffff;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #f39200;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 18px;
    padding: 20px;
  }
}

.btn:hover {
  border: 1px solid #f39200;
  background-color: #f39200;
}

.btn svg,
.btn span {
  vertical-align: middle;
}

.btn--small {
  padding: 10px 35px;
}

.banner-hor__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .banner-hor__wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.banner-hor__wraper:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
  background: linear-gradient(98deg, rgba(255, 255, 255, 0) 0%, #eaf2f7 100%);
  border-radius: 10px;
  width: 100%;
  height: calc(100% - 100px);
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .banner-hor__wraper:before {
    height: 100%;
  }
}

.banner-hor__wraper__content {
  text-align: right;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  padding: 50px;
}

@media only screen and (max-width: 768px) {
  .banner-hor__wraper__content {
    width: 100%;
    padding: 20px;
    -webkit-transform: none;
            transform: none;
  }
}

.banner-hor__wraper__content .h4 {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .banner-hor__wraper__content .h4 {
    font-size: 31px;
  }
}

.banner-hor__wraper__content p {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
}

.banner-hor__wraper__img img {
  display: block;
}

.banner-hor__wraper__url {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  margin-right: -50px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .banner-hor__wraper__url {
    position: absolute;
    margin-right: 0;
    -webkit-transform: none;
            transform: none;
    bottom: 50px;
    width: 90%;
  }
}

.banner-hor__wraper__url a {
  font-size: 18px;
  min-width: 260px;
}

@media only screen and (max-width: 998px) {
  .banner-hor__wraper__url a {
    font-size: 21px;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    min-width: inherit;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .banner-hor__wraper__url a {
    width: inherit;
    height: inherit;
    border-radius: 100px;
  }
}

.banner-hor__wraper__url svg {
  margin-left: 10px;
}

#offers {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  #offers {
    margin-bottom: 0;
  }
}

.offers__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers__wraper__item {
  width: 33.333%;
  padding: 15px;
}

@media only screen and (max-width: 998px) {
  .offers__wraper__item {
    width: 50%;
  }
}

@media only screen and (max-width: 460px) {
  .offers__wraper__item {
    width: 100%;
  }
}

.offers__item {
  padding: 15px;
  background-color: #eaf2f7;
  border-radius: 10px;
  height: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.offers__item h2 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers__item h2 a {
  color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers__item h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 50px;
  height: 1px;
  background-color: #f39200;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers__item p {
  font-size: 14px;
  line-height: 18px;
  color: #797070;
  margin-bottom: 0;
  padding-bottom: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers__item:hover {
  background-color: #f39200;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.offers__item:hover h2::after {
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers__item:hover h2,
.offers__item:hover a,
.offers__item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#opinions {
  padding: 50px 0;
  margin: 50px 0 20px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  #opinions {
    padding: 0 0 20px;
  }
}

#opinions:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100vw;
  left: 0;
  top: 0px;
  height: 100%;
  margin-left: -50vw;
  left: 50%;
  background: white;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#eaf2f7));
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #eaf2f7 100%);
}

#opinions .opinions-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  #opinions .opinions-wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#opinions .opinions-wraper__info {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  #opinions .opinions-wraper__info {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

#opinions .opinions-wraper__info h3 {
  font-family: "Roboto Slab", serif;
  font-size: 51px;
  font-weight: 700;
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  #opinions .opinions-wraper__info h3 {
    font-size: 31px;
  }
}

#opinions .opinions-wraper__info p {
  color: #000000;
  font-size: 21px;
  margin-top: 0px;
  margin-bottom: 30px;
  display: block;
}

#opinions .opinions-wraper__info .opinions-wraper__social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#opinions .opinions-wraper__info .opinions-wraper__social li {
  padding: 10px;
}

#opinions .opinions-wraper__info .opinions-wraper__social li span {
  display: block;
  text-align: center;
}

#opinions .opinions-wraper__info .opinions-wraper__social li span:nth-child(1) {
  font-weight: 700;
}

#opinions .opinions-wraper__info .opinions-wraper__social li span:nth-child(2) {
  color: #f39200;
  font-size: 34px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  #opinions .opinions-wraper__info .opinions-wraper__social li span:nth-child(2) {
    font-size: 21px;
  }
}

#opinions .opinions-wraper__slider {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  #opinions .opinions-wraper__slider {
    width: 100%;
  }
}

#opinions .opinions-wraper__slider .swiper-slide {
  padding: 15px;
}

#opinions .opinions-wraper__slider .opinions-wraper__item {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.019);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.019);
}

#opinions .opinions-wraper__slider .opinions-wraper__item .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#opinions .opinions-wraper__slider .opinions-wraper__item .content .h3 {
  font-size: 18px;
  color: #000000 !important;
}

#opinions .opinions-wraper__slider .opinions-wraper__item .content p {
  font-size: 14px;
  line-height: 24px;
}

#opinions .opinions-wraper__slider .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px;
}

#opinions .opinions-wraper__slider .arrows .sw-button-next,
#opinions .opinions-wraper__slider .arrows .sw-button-prev {
  outline: 0;
  padding: 0 10px;
  cursor: pointer;
}

#opinions .opinions-wraper__slider .arrows .sw-button-next:hover path,
#opinions .opinions-wraper__slider .arrows .sw-button-prev:hover path {
  fill: #f39200;
}

#opinions .opinions-wraper__slider .arrows .sw-pagination {
  width: auto;
}

#opinions .opinions-wraper__slider .arrows .sw-pagination span {
  outline: 0;
  opacity: 1;
  color: #000000;
  background: none;
  margin: 0 5px;
  display: inline-block;
}

#opinions .opinions-wraper__slider .arrows .sw-pagination span:hover {
  color: #f39200;
}

#opinions .opinions-wraper__slider .arrows .sw-pagination .swiper-pagination-bullet-active {
  color: #f39200 !important;
  font-weight: 700;
}

#about-us {
  padding: 20px 0 60px 0;
}

.about-us__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 60px;
}

@media only screen and (max-width: 998px) {
  .about-us__wraper {
    gap: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .about-us__wraper {
    gap: 0;
  }
}

.about-us__col {
  width: 33.333%;
}

.about-us__col:nth-child(3) {
  position: relative;
}

@media only screen and (max-width: 998px) {
  .about-us__col:nth-child(3):before {
    content: "";
    position: absolute;
    left: -30px;
    width: 1px;
    height: 100%;
    background-color: #f39200;
  }
}

@media only screen and (max-width: 998px) {
  .about-us__col:nth-child(2) {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media only screen and (max-width: 998px) {
  .about-us__col {
    width: calc(50% - 30px);
  }
}

@media only screen and (max-width: 768px) {
  .about-us__col {
    width: 100%;
  }
}

.img {
  min-height: 300px;
  height: calc(100% + 100px);
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
  }
}

.img svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-us__bulet {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaf2f7;
}

.about-us__bulet .icona {
  margin-bottom: 20px;
}

.about-us__bulet .h4 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-us__bulet p {
  font-size: 14px;
  line-height: 24px;
  color: #797070;
}

.about-us__bulets--left {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .about-us__bulets--left {
    text-align: left;
  }
}

#modal-video {
  display: none;
}

#modal-video .modal-bg {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.81);
}

#modal-video .modal-content {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
  top: 100px;
  max-width: 986px;
  width: 90%;
  height: auto;
  background-color: #fff;
  border: 1px solid #d1d1d4;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

#modal-video .stop {
  cursor: pointer;
  position: absolute;
  z-index: 9;
  right: 14px;
  color: red;
  font-size: 21px;
}

.faq .accordion {
  margin-bottom: 24px;
  border-radius: 10px;
}

.faq .accordion .question {
  font-size: 16px;
  border-radius: 10px;
  position: relative;
  background-color: #eaf2f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.faq .accordion .question:hover {
  background-color: #eaf2f7;
}

.faq .accordion .question:focus {
  background-color: #eaf2f7;
}

@media only screen and (max-width: 768px) {
  .faq .accordion .question {
    font-size: 16px;
    line-height: 26px;
  }
}

.faq .accordion .question span {
  width: calc(100% - 24px);
  padding: 24px;
}

.faq .accordion .question svg {
  position: absolute;
  right: 15px;
  width: 16px;
  pointer-events: none;
}

.faq .accordion .answer {
  border-radius: 10px;
  height: 0;
  overflow: hidden;
}

.faq .accordion .answer .wrap-video {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.faq .accordion .answer .wrap-video iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.faq .accordion.active {
  border: 1px solid #f39200;
}

.faq .accordion.active .question svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion.active .answer {
  height: auto;
  padding: 0 24px 24px;
}

#about-us-ext {
  margin-bottom: 50px;
  padding-top: 50px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  #about-us-ext {
    padding: 0;
    margin-bottom: 0;
  }
}

#about-us-ext .brand-svg {
  opacity: 0.062;
  position: absolute;
  width: 70%;
  z-index: -1;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 768px) {
  #about-us-ext .brand-svg {
    width: 100%;
    top: -50px;
  }
}

#about-us-ext .about-us-ext__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  #about-us-ext .about-us-ext__wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#about-us-ext .about-us-ext__col:nth-child(1) {
  width: 45%;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  #about-us-ext .about-us-ext__col:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}

#about-us-ext .about-us-ext__col:nth-child(2) {
  padding: 20px;
  width: 55%;
}

@media only screen and (max-width: 768px) {
  #about-us-ext .about-us-ext__col:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: inherit;
    width: 100%;
  }
}

#about-us-ext .title-page-wraper {
  text-align: left;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  #about-us-ext .title-page-wraper {
    text-align: center;
  }
}

#about-us-ext .title-page-wraper .title-page {
  margin: 0;
}

#about-us-ext .title-page-wraper .h2 {
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

#about-us-ext .title-page-wraper p {
  padding-left: 0;
  margin-left: 0;
}

.ga-about-ex__item:nth-child(1) {
  width: 80%;
  height: auto;
}

.ga-about-ex__item:nth-child(1) img {
  width: 100%;
  height: auto;
}

.ga-about-ex__item:nth-child(2) {
  width: 80%;
  height: auto;
  margin-top: -50px;
  margin-left: 50px;
  text-align: right;
}

.ga-about-ex__item:nth-child(2) img {
  width: 100%;
  height: auto;
}

.team__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0;
}

@media only screen and (max-width: 768px) {
  .team__person {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__person:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #eaf2f7;
  bottom: 0px;
  left: -30px;
}

.team__person .team__person_img {
  width: 150px;
  height: 150px;
  margin-right: 30px;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
}

.team__person .team__person_content {
  width: calc(100% - 175px);
}

@media only screen and (max-width: 768px) {
  .team__person .team__person_content {
    width: 100%;
  }
}

.team__person .team__person_content .h2 {
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.team__person .team__person_content .h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #f39200;
}

.team__person .team__person_content .poz * {
  color: #000000;
  font-weight: 500;
}

.team__person .team__person_content .poz a {
  color: #f39200;
  text-decoration: underline;
}

body.home {
  padding: 0px !important;
}

body.home #header {
  position: fixed;
}

#slider {
  width: 100vw;
  height: 95vh;
  margin-left: -50vw;
  margin-bottom: 150px;
  left: 50%;
  position: relative;
  top: -50px;
}

@media only screen and (max-width: 768px) {
  #slider {
    margin-bottom: 20px;
  }
}

#slider .container-entry {
  position: relative;
  height: 100%;
}

.swiper {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: top right;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .slide {
    background-position: 66%;
  }
}

.arrows {
  position: absolute;
  z-index: 999;
  padding: 20px;
  right: 0;
  top: 50%;
}

.arrows .sw-pagination span {
  display: block;
  margin: 10px 0 !important;
  width: 15px;
  height: 15px;
  border: 1px solid #f39200 !important;
  opacity: 1 !important;
  background-color: #fff;
}

.arrows .sw-pagination .swiper-pagination-bullet-active {
  background-color: #f39200;
  border: 1px solid #fff !important;
}

.svg-brand {
  position: absolute;
  z-index: 2;
  width: 70%;
  bottom: -100px;
  right: 30px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .svg-brand {
    width: 80%;
  }
}

.svg-brand span {
  position: absolute;
  top: 10%;
  right: 50px;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .svg-brand span {
    font-size: 16px;
    bottom: 0px;
    right: 10px;
  }
}

.svg-brand svg {
  opacity: 0.15;
  width: 100%;
}

.bg {
  position: absolute;
  height: 100%;
  top: 0px;
  width: 100%;
  background: white;
  background: linear-gradient(280deg, rgba(255, 255, 255, 0) 30%, white 100%);
  left: 0;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .bg {
    background: white;
    background: linear-gradient(280deg, rgba(255, 255, 255, 0.460662) 30%, white 100%);
  }
}

.slider__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 400px;
  width: 90%;
}

.slider__content .h1 {
  font-size: 71px;
  font-weight: 900;
  line-height: 75px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .slider__content .h1 {
    font-size: 38px;
    line-height: 41px;
    margin-bottom: 20px;
  }
}

.slider__content p {
  margin-bottom: 30px;
}

.slider__content .btn {
  padding: 15px 35px;
  font-size: 21px;
}

@media only screen and (max-width: 768px) {
  .slider__content .btn {
    padding: 10px 35px;
    font-size: 16px;
  }
}

.slider__content .btn svg {
  margin-left: 15px;
}

#prices {
  padding: 50px 0;
}

.price__item {
  margin-bottom: 30px;
}

.price__item .price__item__top {
  margin-bottom: 30px;
}

.price__item .price__item__top .h2 {
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.price__item .price__item__top .h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #f39200;
}

.price__item .price__item__wraper {
  background-color: #f8f8f8;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 998px) {
  .price__item .price__item__wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.price__item .price__item__wraper .prices__services {
  width: 50%;
  padding: 15px;
  background-color: #eaf2f7;
  border-radius: 15px;
}

@media only screen and (max-width: 998px) {
  .price__item .price__item__wraper .prices__services {
    width: 100%;
  }
}

.price__item .price__item__wraper .prices__services .usl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px dashed #fff;
}

.price__item .price__item__wraper .prices__services .usl p {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0;
  padding: 0;
  padding: 10px 0;
  color: #000000;
}

.price__item .price__item__wraper .prices__services .usl span {
  display: block;
  white-space: nowrap;
}

.price__item .price__item__wraper .prices__desc {
  width: 50%;
  padding: 15px;
}

@media only screen and (max-width: 998px) {
  .price__item .price__item__wraper .prices__desc {
    width: 100%;
  }
}

#gallery .gallery__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

#gallery .gallery__wraper .gallery__item {
  width: calc(33.333% - 5px);
}

@media only screen and (max-width: 768px) {
  #gallery .gallery__wraper .gallery__item {
    width: calc(50% - 5px);
  }
}

#gallery .gallery__wraper .gallery__item a {
  display: block;
}

#gallery .gallery__wraper .gallery__item img {
  display: block;
  width: 100%;
  height: auto;
}

#go-to-price {
  margin-top: 30px;
}

.gtp__wraper {
  background-color: #eaf2f7;
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gtp__wraper .left .h3 {
  margin: 0;
}

.gtp__wraper .right .btn {
  padding: 10px 25px;
}
/*# sourceMappingURL=dl-main.css.map */